[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = git@github.com:ManuelMeraz/rplidar_ros.git
[submodule "src/ros2_controllers"]
	path = src/ros2_controllers
	url = git@github.com:ManuelMeraz/ros2_controllers.git
